<header>
  <nav class="flex h-16 bg-indigo-600">
    <div class="w-32 grid">
      <div class="place-self-center">LOGO</div>
    </div>
    <div class="w-auto ml-auto grid">
      @if(this.user){
      <div class="place-self-center">
        <button mat-button (click)="openDialog()">
          {{ this.user.email }}
        </button>
      </div>
      } @else {
      <div
        class="place-self-center"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        <button mat-button>Login</button>
      </div>
      }
    </div>
    <div class="w-16 grid">
      <button mat-icon-button class="place-self-center" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </nav>
  <menu class="bg-indigo-500 text-zinc-100 menu-closed" #menuRef>
    <ul class="menu-content">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </menu>
</header>
