<header class="flex w-dvw h-16 bg-indigo-500">
  <div class="w-32 grid">
    <div class="place-self-center">LOGO</div>
  </div>
  <div class="w-auto ml-auto grid">
    @if(true) {
    <button mat-button class="place-self-center" (click)="openDialog()">
      Sign-in
    </button>
    } @else {
    <button mat-button class="place-self-center">USERNAME</button>
    }
  </div>
  <div class="w-16 grid">
    <button mat-icon-button class="place-self-center">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</header>
