<div class="dark:bg-zinc-800 dark:text-zinc-100 w-full">
  <div class="w-3/4 p-8 flex flex-col items-center m-auto">
    <h2>Login</h2>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="w-1/2 flex flex-col items-center"
    >
      <mat-form-field class="w-full">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <br />
      <mat-form-field class="w-full">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <br />

      <button mat-raised-button class="m-8" color="primary" type="submit">
        Login
      </button>
      <p>
        Don't have an account? Register
        <a [routerLink]="['/register']" routerLinkActive="router-link-active"
          >here</a
        >
      </p>
      <p>
        Forgot password?
        <a
          [routerLink]="['/forgot-password']"
          routerLinkActive="router-link-active"
          >Reset</a
        >
      </p>
    </form>
  </div>
</div>
