<div class="dark:bg-zinc-800 dark:text-zinc-100 w-full">
  <div class="w-3/4 p-8 flex flex-col items-center m-auto">
    <h2>Register</h2>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="w-1/2 flex flex-col items-center"
    >
      <mat-form-field class="w-full">
        <input
          matInput
          name="email"
          id="email"
          type="email"
          placeholder="Email"
          formControlName="email"
          autofocus
          tabindex="1"
        />
        <mat-error>*Valid email is required</mat-error>
      </mat-form-field>
      <br />
      <div class="relative w-full">
        <mat-form-field class="w-full">
          <input
            matInput
            name="password"
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
            #passwordRef
            tabindex="2"
          />
          <mat-error>*Password must be at least 8 characters</mat-error>
        </mat-form-field>
        <button
          mat-icon-button
          form=""
          (click)="togglePassword(passwordRef)"
          class="show-btn text-slate-300"
          tabindex="3"
        >
          @if(passwordRef.type === 'password'){
          <mat-icon class="text-neutral-700">visibility</mat-icon>
          } @else {
          <mat-icon class="text-neutral-700">visibility_off</mat-icon>
          }
        </button>
      </div>

      <br />
      <div class="relative w-full">
        <mat-form-field class="w-full">
          <input
            matInput
            type="password"
            placeholder="Confirm assword"
            formControlName="confirmPassword"
            #confirmPasswordRef
            tabindex="4"
          />
          <mat-error
            >*Confirmation password must be at least 8 characters</mat-error
          >
        </mat-form-field>
        <button
          mat-icon-button
          form=""
          (click)="togglePassword(confirmPasswordRef)"
          class="show-btn text-slate-300"
          tabindex="5"
        >
          @if(confirmPasswordRef.type === 'password'){
          <mat-icon class="text-neutral-700">visibility</mat-icon>
          } @else {
          <mat-icon class="text-neutral-700">visibility_off</mat-icon>
          }
        </button>
      </div>

      <br />
      <button
        mat-raised-button
        class="m-8"
        color="primary"
        type="submit"
        tabindex="6"
        [disabled]="this.registerForm.invalid"
      >
        Register
      </button>
      <p>
        Already have an account? Login
        <a
          class="text-blue-300 underline"
          [routerLink]="['/login']"
          tabindex="7"
          >here</a
        >
      </p>
    </form>
  </div>
</div>
