<div class="dark:bg-zinc-800 dark:text-zinc-100 w-full">
  <div class="w-3/4 p-8 flex flex-col items-center m-auto">
    <h2>Reset Password</h2>
    <form
      [formGroup]="passwordResetForm"
      (ngSubmit)="onSubmit()"
      class="w-1/2 flex flex-col items-center"
    >
      <mat-form-field class="w-full">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <br />
      <mat-form-field class="w-full">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="confirmPassword"
        />
      </mat-form-field>
      <br />
      <button mat-raised-button class="m-8" color="primary" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
