<div>
  <footer class="bg-zinc-100 dark:bg-zinc-900 dark:text-zinc-100">
    <div class="container mx-auto p-4">
      <div class="flex justify-between">
        <div>
          <p>&copy; 2024 - All rights reserved</p>
        </div>
        <div>
          <p>
            Powered by
            <a
              href="https://angular.io/"
              target="_blank"
              rel="noopener noreferrer"
              >Angular</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
